# Lecture 5

**Authors:**
* Yilber Fabian Bautista 
* 

**Last date of modification:**
 December 21th 2021

Hello there,

welcome to Lecture 5 of this mini-lecture series on programing with Python. In this series, you will learn basic and intermediate python tools that will be of great use in your scientific carer.

By the end of this lecture you will be able to:
* Use **dictionaries** in python
* Use **pandas** library to read, create and modify data frames
* ....

## Dictionaries

Let us start this lecture by introducing a new type of data structure, that is, **dictionaries**. 
In **Lecture 2** we learned how to use **lists** and **arrays** as data structures.

**What are Dictionaries?**

A dictionary consists of keys and values assigned to those keys. Since **dictionaries** have similar characteristics to **lists**, it is helpful to compare the former to the latter.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/DictsList.png" width="650" /> 
Figure taken from [IBM courses](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/DictsList.png)

Instead of the numerical indexes, dictionaries have keys, which are non-mutable objects like **strings** or **tuples**. These keys are the "indexes" that are used to access values within a dictionary. 
Likewise **lists**, **dictionaries** are mutable objects, which means  we can modify them, change values for a given key, add new keys with their corresponding values, etc. 

The python syntax to create dictionaries is the following:

```py
my_dictionary = {'key':value}
```

The `type` of a dictionary (`type(my_dictionary)`) is `dict`. Let us create our first **dictionary** in python:

In [198]:
import numpy as np
# Create the dictionary

my_dictionary = {"key1": 1, "key2": "2", "key3": np.array([3, 3, 8]),
                 "key4": (4, 4, '4'), ('key5'): 5, (0, 1): 6}
type(my_dictionary)

dict

Notice that likewise for **lists** and **tuples**, dictionary elements do not have to be of the same `type`.

* **Accessing the keys of a dictionary**:

In case we do not know the keys of a given dictionary, the function `keys()` can be use to obtain a list of the keys of the dictionary.
```py
my_dictionary.keys()
```
* **Accessing  the value by the key**

To access the elements of a given key, we have two options: the first one by using  an  "indexing"-like approach. That is

```py
my_dictionary['key1']
```
this will return the output `1`. The second option is by using the  `get()` method. It is used as

```py
my_dictionary.get((0, 1))
```
this will produce the output `6`. **Why is get useful?** If we ask for the value of the dictionary for a given key and the key does not exist in the dictionary, then the `get` method avoids error messages, and simply returns `None`. For instance if we did

```
my_dictionary.get('key7')
```
the output will be `None`.

* **Adding a new element to the dictionary**

For **lists** and **arrays** we would had use the `list.append(value)` and `np.append(array,value)` methods respectively. For **dictionaries** instead, we will use the following syntax:

```py
my_dictionary['key7'] = 'new_value'
```

* **Remove a key from a dictionary**

To remove an key with its respective values we use the `pop()` method. For instance, if we want to delete the newly assigned `key7` from our dictionary we use:
```py
my_dictionary.pop('key7')
```
then, if we ask for the keys of our dictionary 
```
my_dictionary.keys()
```
we will get as output `dict_keys(['key1', 'key2', 'key3', 'key4', 'key5', (0, 1)])`.

See  [this link](https://www.w3schools.com/python/python_ref_dictionary.asp) for additional methods applied to dictionaries

# Exercise 1
1. Try out yourself the previous explanation (Try typing down all of the commands yourself, it gives you some coding practice)
2. Given the following dictionaries, write short line codes to answer the following Questions (See  [this page](https://holypython.com/beginner-python-exercises/exercise-8-python-dictionaries/) for more exercises with dictionaries): 

```py
dictionary_1 ={"name": "Plato", "country": "Ancient Greece", "born": -427, "teacher": "Socrates", "student": "Aristotle"}
dictionary_2 = {"son's name": "Lucas", "son's eyes": "green", "son's height": 32, "son's weight": 25}
```
* When was Plato born?
* Change Plato's birth year from B.C. 427 to B.C. 428
* Add the key "work" to `dictionary_1`, with the values "Apology", "Phaedo", "Republic", "Symposium" in a list 
* Add 2 inches to the son's height in `dictionary_2`
* Using .get() method print the value of "son's eyes"
* Merge  dictionary_1  and  dictionary_2  into the dictionary  dictionary_merge, using the syntax:

```py
dictionary_merge = merge(**dictionary_1,**dictionary_2)
```
and print the list of keys in `dictionary_merge`

## The pandas library

We now focus on the main part of this tutorial i.e. the **pandas** library.
It is used to   manipulate tabular data such as data stored in spreadsheets or databases, and  to do statistics analysis of such data. Pandas library supports the integration of several file formats and data sources, for instance `csv`, `excel`, `sql`, `json`, etc. In this tutorial we will focus on `csv` files. For a detail  view of **pandas** library, see [here](https://pandas.pydata.org/pandas-docs/stable/getting_started/index.html#getting-started)  


In **pandas**, data tables are named  `DataFrame`. 

Let us start our pandas journey  by creating simple data frames from the data structure we learned above, namely, **dictionaries**. We need to import the `pandas` library first

In [199]:
import pandas as pd

Given the dictionary:

In [200]:
dictionary =  {
        "Name": [
            "Braund, Mr. Owen Harris",
            "Allen, Mr. William Henry",
            "Bonnell, Miss. Elizabeth",
        ],
        "Age": [22, 35, 25],
        "Course": ["Data Structures", "Machine Learning", "OOPS with java"],
    }

a `DataFrame`  is created as follows

In [201]:
df = pd.DataFrame(dictionary)
df

                       Name  Age            Course
0   Braund, Mr. Owen Harris   22   Data Structures
1  Allen, Mr. William Henry   35  Machine Learning
2  Bonnell, Miss. Elizabeth   25    OOPS with java

# Exercise 2

Get some experience with `DataFrames` by codding all the explanation bellow (Avoid coping and pasting the code in the text)

* **The head/tail attributes**

To access the first/last `i` elements of your `DataFrame` we use the `head(i)/tail(i)` attributes. This is useful when dealing with large datasets.  As an example we can access the first two elements of our `df` defined above:

```py
df.head(2)

```

* **Slicing a DataFrame**

To access a desired slice of a `DataFrame`  we use a similar syntax that for `lists`. We can of course save that slice as a new `DataFrame`, which has the same attributes as the original `DataFrame`, but with less elements. Let us for instance take the slice containing the second and third elements of our `df` defined above and save them in the new `sub_df ` `DataFrame`. We use

```py
sub_df = df[]
sub_df
```


When using a Python dictionary of lists, the dictionary keys will be used as column headers and the values in each list as columns of the `DataFrame`. 

* **Keys in a DataFrame**

Likewise for dictionaries, we can ask for the `keys` of a  `DataFrame` using the `keys()` attribute.  When using it our `df` example 
```py
df.keys()
```

we get as output `Index(['Name', 'Age', 'Course'], dtype='object')`.

One can also access the keys using the attribute `columns`. 

```py
df.columns

```

* **Accessing a column in a DataFrame**

Once we know the `keys` in our `DataFrame`, we can access different parts of it. To access a specific column of our `DataFrame` we use the same syntax as for dictionaries. For instance, to access the column containing all of the names in our `df` defined above we use:

```py
df['Name']

```
which will produce as an output the list with all of the names contained in the table. 


* **Accessing a row in a DataFrame**
To access a row in a data frame we use the `iloc[]` function. Imagine we want to access the  second row in our `df`, and  store it in a new variable. We use

```py
Allen_info = df.iloc[1]
print(Allen_info)
```
which will produce the output

```py
Name      Allen, Mr. William Henry
Age                             35
Course            Machine Learning
Name: 1, dtype: object
```


* **Accessing a single element in a DataFrame**

Now imagine we want to know `Allen's` age. For that we have different options, either by accessing it using the variable `Allen_info` we just defined, or by accessing it directly in the original `df`. For the former we will use

```py
Allen_info['Age']
```
whereas for the latter we use
```py
df['Age'][1]
```
with bot methods producing the output `35`.

In [202]:
# Try this out yourself here



* **Adding a new row to the DataFrame**

Likewise for lists, to add a new element to the  `DataFrame` we use the `append()` attribute. Since the `DataFrame` has several entries, we need  first to create  a dictionary, which will be added to the `DataFrame`. Let us see how this work with the following example

In [203]:
sara_info = {'Name':'Sara Remmen', 'Age': 20, 'Course':'Python programing','Grade': 10}
#adding the new dictionary
df2 = df.append(sara_info, ignore_index = True)
df2

                       Name  Age             Course  Grade
0   Braund, Mr. Owen Harris   22    Data Structures    NaN
1  Allen, Mr. William Henry   35   Machine Learning    NaN
2  Bonnell, Miss. Elizabeth   25     OOPS with java    NaN
3               Sara Remmen   20  Python programing   10.0

Notice we have added a new `key` to the dictionary. This has created a new column with the `NaN` for the other rows. Also notice that using the `append()` attribute does not modify the original `DataFrame`, but we have rather create a new `df2` to store those changes. This is useful if you do not want to modify the original `DataFrame`. If we want to modify `df` directly, we can use the `loc[i]` function, where `i` is the position we want to add the new row. Let us do it explicitly in our example

In [204]:
df.loc[3] = ['Nathan S.',20, 'Julia programing']
df

                       Name  Age            Course
0   Braund, Mr. Owen Harris   22   Data Structures
1  Allen, Mr. William Henry   35  Machine Learning
2  Bonnell, Miss. Elizabeth   25    OOPS with java
3                 Nathan S.   20  Julia programing

* **Changing an entry in your DataFrame**

If we want for instance to change for instance Allen's grade in our `df2` defined above we use the `at[]` function. Let us see it in practice

In [205]:
df2.at[1,'Grade'] = 8 
df2

                       Name  Age             Course  Grade
0   Braund, Mr. Owen Harris   22    Data Structures    NaN
1  Allen, Mr. William Henry   35   Machine Learning    8.0
2  Bonnell, Miss. Elizabeth   25     OOPS with java    NaN
3               Sara Remmen   20  Python programing   10.0

As we see, Allen's Grade changed from `NaN` to `8`. Notice the syntax for the `at[.,.]` function is `at[row,column]`.

* **Removing a whole row in a DataFrame**

In a similar way that for adding rows, we can delete them, either saving the output in a new `DataFrame` or by modifying the original `DataFrame`. For instance, let us remove the entry for Sara's info from `df2`. Notice the label for Sara's row is `3`. In the  former case we use the syntax 
```
df3 = df2.drop(labels = 3 )
df4
```
where `3` corresponds to the Sara's row label. 

For the latter case (modifying the original `DataFrame`) we use

```py
df2.drop(labels = 3 ,inplace=True)
```
However, we have to be careful when using this option since once rows are removed, we cannot recover them, therefore, unless we are sure we want to delete a row, use the `drop()` attribute without the `inplace=True` keyword.

In [206]:
# Some space to write your own code

* **Adding a whole column to the DataFrame**

To add a complete column we use a syntax similar to dictionaries. We have to specify all the elements of the column in a list, whose length has to match the length of the `DataFrame`. In our previous examples we would have made.

```py
df2['Major'] =  ['Physiscs and Astronomy', 'Computer Science','Physiscs and Astronomy','Maths']
df2

```

* **Saving Data frames**

Having gained some experience manipulating `DataFrames`, we now learn how to save the data. In this tutorial we show how to save the `DataFrame` in a `.csv` file. `csv` stands for Comma Separated Values; it is a plain text file that contains a list of data, separated by commas. 

The syntax for saving a `DataFrame` as `.csv` in Mac and Linux is:

```
df.to_csv('/...path_to_file.../name_file.csv')

```
whereas for windows, the separators are given by double backslash `\\` 

Let us save our `df2` frame defined above. If not path is specified, the file will be saved in the same folder of our jupyter notebook.

In [207]:
df2.to_csv('saving_example.csv')

* **Loading a csv file using pandas**

We can also load existing data files using **pandas** library. The syntax for this is the following:

```py
new_df = pd.read_csv("/...path_to_file.../file_name.csv")

```
This will create a new `DataFrame` named `new_df`. We can then manipulate our `new_df` as explained above.

In [208]:
new_df = pd.read_csv('saving_example.csv')

Let us add a new column to our `new_df`

In [209]:
new_df['Nationality']=['Canada','Germany','England','India']
new_df

,Unnamed: 0,Name,Age,Course,Grade,Nationality
0,0,"Braund, Mr. Owen Harris",22,Data Structures,NaN,Canada
1,1,"Allen, Mr. William Henry",35,Machine Learning,8.0,Germany
2,2,"Bonnell, Miss. Elizabeth",25,OOPS with java,NaN,England
3,3,Sara Remmen,20,Python programing,10.0,India

Finally, to save the changes we did on ourd `csv ` fole we just use our saving tool defined above. If we assign the same name to the original name the file will be overwritten  with the new changes.  

```py
new_df.to_csv('saving_example.csv')

```

* **Alternative loading methods**

# Exercise 3